<div class="container-page">

  <div class="navbar d-flex justify-content-end">
    <%= render 'shared/navbar' %>
  </div>

  <div id="particles-js" class="banner">

    <div class="container">
      <div class="banner-presentation">
        <h3> <%= t('.presentation') %> </h3>
      </div>
      <div class="banner-name">
        <h1>Will The<span style="color:#61b15a">ard</span></h1>  
      </div>
      <div class="banner-about-me">
        <p>
          <%= t('.about-me')%>
        </p>
      </div>
    </div>

    <div class="banner-job">
      <%= t('.banner-job') %>
    </div>
    <div class="banner-localization">
      <%= t('.localization') %>
    </div>

  </div>

</div>




