<div class="container-page">

  <div class="navbar d-flex justify-content-end">
    <%= render 'shared/navbar' %>
  </div>

  <div class="upper-wave">
    <div class="banner-languages">
      <% @languages.each do |language, sym| %>
        <%= link_to root_path(locale: sym), class: "without-decoration" do %>
          <div class="icon-flag">
            <%= image_tag "#{language}.png" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="particles-js" class="banner"></div>
    <div class="container banner-presentation">
      <p> <%= t('.presentation') %></p> 
    </div>
    <div class="container banner-name">
      <h1>Will The<span style="color:#61b15a">ard</span></h1>
    </div>
    <div class="container banner-about-me">
      <p>
        <%= t('.about-me') %>
      </p>
    </div>
    <div class="banner-job">
      <h2><%= t('.banner-job') %> </h2>
    </div>
    <div class="banner-location">
      <p>
        <%= t('.location') %>
      </p> 
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1" d="M0,192L80,197.3C160,203,320,213,480,202.7C640,192,800,160,960,144C1120,128,1280,128,1360,128L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </div>
  
  <div class="section-about">
    <div class="container">
      <div class="container-wrapper">
        <div class="content">
          <h2><%= t('.about') %></h2>
          <p><%= t('.about-html') %></p>
          <h5><%= t('.work-first') %> <%= link_to "Grupo de Moda Soma", "https://www.somagrupo.com.br/", target: "_blank", class: "without-decoration" %> <%= t('.work-second') %> </h5>
        </div>
        <div class="profile">
          <%= image_tag 'profile_wht_bgrnd.png', class:"d-print-none"%>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1" d="M0,256L48,266.7C96,277,192,299,288,293.3C384,288,480,256,576,250.7C672,245,768,267,864,282.7C960,299,1056,309,1152,309.3C1248,309,1344,299,1392,293.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>

</div>




